.input-group
    span.input-group-addon Title
    input#toth-lowerthird_title.form-control(type="text", placeholder="Title")
.ncg-label body
textarea#toth-lowerthird_body.form-control(style="width: 100%; margin-bottom: 8px;")
.ncg-btn-group
    .btn-group.btn-group-justified
        .btn-group
            button#toth-lowerthird_in.btn.btn-xs.btn-success(type="button") Show
        .btn-group
            button#toth-lowerthird_out.btn.btn-xs.btn-danger(type="button") Hide
    .btn-group.btn-group-justified.no-padding
        .btn-group
            button#toth-lowerthird_pulse10.btn.btn-xs.btn-primary(type="button") 10s
        .btn-group
            button#toth-lowerthird_pulse30.btn.btn-xs.btn-primary(type="button") 30s
        .btn-group
            button#toth-lowerthird_pulse60.btn.btn-xs.btn-primary(type="button") 60s
          