.ncg-btn-group
    .btn-group.btn-group-justified
        .btn-group.btn-group-xs
            button#gxl-credits_update.btn.btn-group-xs.btn-default(type="button") Update from file
.ncg-btn-group
    .btn-group.btn-group-justified
        .btn-group.btn-group-xs
            button#gxl-credits_show.btn.btn-group-xs.btn-default(type="button") Show
        .btn-group.btn-group-xs
            button#gxl-credits_hide.btn.btn-group-xs.btn-default(type="button") Hide
hr
.ncg-btn-group
    .btn-group.btn-group-justified
        .btn-group.btn-group-xs
            a.btn.btn-group-xs.btn-default(data-toggle="collapse", href="#gxl-credits_staffCollapse") Toggle details
#gxl-credits_staffCollapse.panel-collapse.collapse.in [WIP]
