<!DOCTYPE html>
<html>
<head lang="en">
    <link href="css/gxl-credits.css" rel="stylesheet"/>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/TweenMax.min.js"></script>
    <script src="js/gxl-overlay.js"></script>
</head>
<body>

<div id="bounds">
    <div id="mainContainer">
        <div id="centeringContainer">
            <div id="title">Long group</div>
            <div id="staffContainer">
                <ul id="staff">
                    <li>AAAAA "AAAAA" AAAAA</li>
                    <li>BBBBB "BBBBB" BBBBB</li>
                    <li>CCCCC "CCCCC" CCCCC</li>
                    <li>DDDDD "DDDDD" DDDDD</li>
                    <li>EEEEE "EEEEE" EEEEE</li>
                    <li>FFFFF "FFFFF" FFFFF</li>
                    <li>GGGGG "GGGGG" GGGGG</li>
                    <li>HHHHH "HHHHH" HHHHH</li>
                    <li>IIIII "IIIII" IIIII</li>
                    <li>JJJJJ "JJJJJ" JJJJJ</li>
                    <li>KKKKK "KKKKK" KKKKK</li>
                    <li>LLLLL "LLLLL" LLLLL</li>
                    <li>MMMMM "MMMMM" MMMMM</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="sponsorContainer">
    <img class="event" id="gxl" src="img/gxl_logo.png">
    <img class="event" id="cevo" src="img/cevo-logo-full-flat-v2.png">
    <img class="sponsor" id="corsair" src="img/corsair1.png">
    <img class="sponsor" id="zowie" src="img/zowie.png">
    <img class="sponsor" id="pbl" src="img/pbl_logo.png">
    <img class="cast" id="extv" src="img/eXtv-logo.png">
    <img class="cast" id="tftv" src="img/tftv-full-logo-light.png">
</div>

<script src="/viewsetup.js"></script>
</body>
</html>