<html>
<head>
  <link href="/view/toth-alert/alert.css" rel="stylesheet"/>
  
	<script src="/view/toth-alert/jquery.min.js"></script>	
  <script src="/view/toth-alert/ion.sound.min.js"></script>	
	<script src="/view/toth-alert/alert.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.12.1/TweenMax.min.js"></script>
  
  <!-- NodeCG API setup script. MUST BE THE LAST <script> TAG ON THE PAGE! -->
  <script src="/viewsetup.js"></script>
</head>
<body>
<div id="alert">
	<div id="alerttitlecontainer">
		<div id="alerttitle">Alert!<div id="exclamation"></div></div>
	</div>
	<div id="alerttextcontainer">
		<div id="alerttext"></div>
	</div>
</div>
</body>
</html>
