<html>
<head>
    <link href="/view/toth-lowerthird/lowerthird.css" rel="stylesheet"/>

    <script src="/view/toth-lowerthird/jquery.min.js"></script>
    <script src="/view/toth-lowerthird/ion.sound.min.js"></script>
    <script src="/view/toth-lowerthird/lowerthird.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.12.1/TweenMax.min.js"></script>

    <!-- NodeCG API setup script. MUST BE THE LAST <script> TAG ON THE PAGE! -->
    <script src="/viewsetup.js"></script>
</head>
<body>
<div id="container">
    <div id="shape"></div>
    <div id="lowerthird">
        <div id="lowerthirdtitlecontainer">
            <div id="lowerthirdtitle"></div>
        </div>
        <div id="lowerthirdtextcontainer">
            <div id="lowerthirdtext"></div>
        </div>
    </div>
</div>
</body>
</html>
