<!DOCTYPE html>
<html>
<head lang="en">
    <link href="css/gxl-credits.css" rel="stylesheet"/>
</head>
<body>

<div id="bg">
    <div id="staffContainer">
        <ul id="staff">
            <li>Alex "Dashner" Pylyshyn</li>
            <li>Anthony "Airon" Oetzmann</li>
            <li>Alex "Lange" Van Camp</li>
            <li>Jeff eXtine</li>
            <li>Justin "BloodSire" Danford</li>
            <li>TJ Marxist</li>
            <li>Mike "Getawhale" Lockman</li>
            <li>Sean "Seanbud" Stradley</li>
            <li>Christopher "Bl4nk" Sterling</li>
            <li>Brad "PYYYOUR" Ross</li>
            <li>Lance "duder" Waidzunas</li>
            <li>Lance "duder" Waidzunas</li>
            <li>Lance "duder" Waidzunas</li>
            <li>Lance "duder" Waidzunas</li>
            <li>Lance "duder" Waidzunas</li>
            <li>Lance "duder" Waidzunas</li>
        </ul>
    </div>
</div>

</body>
</html>